In [1]:
! pip install -r requirements.txt

Requirement already satisfied: pandas in /Users/antoine/Developer/Perso/venv/lib/python3.12/site-packages (from -r requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: numpy in /Users/antoine/Developer/Perso/venv/lib/python3.12/site-packages (from -r requirements.txt (line 2)) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/antoine/Developer/Perso/venv/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/antoine/Developer/Perso/venv/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/antoine/Developer/Perso/venv/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/antoine/Developer/Perso/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)

In [1]:
import pandas as pd
import numpy as np

In [14]:
import pandas as pd
 
# read specific columns of csv file using Pandas
df = pd.read_csv("Data/Recipes/recipes_data.csv", usecols=['title', 'ingredients'])
print(df)

                                                 title  \
0                                  No-Bake Nut Cookies
1                                Jewell Ball'S Chicken
2                                          Creamy Corn
3                                        Chicken Funny
4                                 Reeses Cups(Candy)
...                                                ...
2231137                            Sunny's Fake Crepes
2231138                                     Devil Eggs
2231139  Extremely Easy and Quick - Namul Daikon Salad
2231140     Pan-Roasted Pork Chops With Apple Fritters
2231141                 Polpette in Spicy Tomato Sauce

                                               ingredients
0        ["1 c. firmly packed brown sugar", "1/2 c. eva...
1        ["1 small jar chipped beef, cut up", "4 boned ...
2        ["2 (16 oz.) pkg. frozen corn", "1 (8 oz.) pkg...
3        ["1 large whole chicken", "2 (10 1/2 oz.) cans...
4        ["1 c. peanut butter", "3/4 c. graham cracker ...
...                                                    ...
2231137  ["1/2 cup chocolate hazelnut spread (recommend...
2231138  ["1 dozen eggs", "1 paprika", "1 salt and pepp...
2231139  ["150 grams Daikon radish", "1 tbsp Sesame oil...
2231140  ["1 cup apple cider", "6 tablespoons sugar", "...
2231141  ["1 pound ground veal", "1/2 pound sweet Itali...

[2231142 rows x 2 columns]

In [15]:
df.loc[:,'Sentence'] = ('To cook ' + df.loc[:,'title'] 
                        + ', you need:' + df.loc[:,'ingredients'].astype(str).str.replace('[','').str.replace(']','').str.replace('"','').str.replace('["',''))

In [17]:
df.rename(columns={'title':'Recipe Title'}, inplace=True)
df = df[['Recipe Title','Sentence']]

df.head()

            Recipe Title                                           Sentence
0    No-Bake Nut Cookies  To cook No-Bake Nut Cookies, you need:1 c. fir...
1  Jewell Ball'S Chicken  To cook Jewell Ball'S Chicken, you need:1 smal...
2            Creamy Corn  To cook Creamy Corn, you need:2 (16 oz.) pkg. ...
3          Chicken Funny  To cook Chicken Funny, you need:1 large whole ...
4   Reeses Cups(Candy)    To cook Reeses Cups(Candy)  , you need:1 c. pe...

In [18]:
df = df.sample(frac=1)

In [19]:
df.reset_index(drop=True, inplace=True)

In [20]:
for i in range(10):
    df.iloc[i::10].to_csv(f'recipes_{i+1}.csv',index=False)

In [5]:
df.to_csv('recipes.csv',index=False)

In [4]:
df_prod =pd.read_csv("Data/Production/Production_Crops_Livestock_E_All_Data_(Normalized).csv")

/var/folders/r1/74s8bhy11bz94lsfxrg5752m0000gn/T/ipykernel_87901/1207147349.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_prod =pd.read_csv("Data/Production/Production_Crops_Livestock_E_All_Data_(Normalized).csv")

In [5]:
df_prod.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1961,1961,ha,0.0,A,NaN
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1962,1962,ha,0.0,A,NaN
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1963,1963,ha,0.0,A,NaN
3,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1964,1964,ha,0.0,A,NaN
4,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1965,1965,ha,0.0,A,NaN

In [20]:
df_prod =pd.read_csv("Data/Production/Production_Crops_Livestock_E_All_Data_(Normalized).csv")
print(df_prod.shape)

def group_function(x):
    return pd.Series({'Max Year Code': np.max(x['Year Code'])})

group_features = ['Area Code', 'Item Code','Element Code']

grouped_df = df_prod[group_features+['Year Code']].groupby(by = group_features).apply(group_function).reset_index()
df_prod = df_prod.merge(grouped_df, on = group_features, how= 'outer')
df_prod = df_prod[df_prod['Year Code']==df_prod['Max Year Code']]
df_prod = df_prod[df_prod['Element'].isin(['Production'])]
columns_to_keep = ['Area','Item', 'Unit','Value']
df_prod = df_prod[columns_to_keep]
df_prod.loc[:,'Sentence'] = 'The production of '+df_prod.loc[:,'Item']+' in '+df_prod.loc[:,'Area']+' is '+df_prod.loc[:,'Value'].astype(str)+' '+df_prod.loc[:,'Unit'] + ' per year'

/var/folders/r1/74s8bhy11bz94lsfxrg5752m0000gn/T/ipykernel_87901/3238290160.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_prod =pd.read_csv("Data/Production/Production_Crops_Livestock_E_All_Data_(Normalized).csv")

(4124611, 14)

In [21]:
df_prod.to_csv('production_norm_filtered.csv', index=False)

In [23]:
df_prod.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize',
       'Benin', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands (Kingdom of the)',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Türkiye', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries'], dtype=object)

In [9]:
df_prod.Element.unique()

array(['Area harvested', 'Yield', 'Production', 'Stocks',
       'Producing Animals/Slaughtered', 'Laying', 'Yield/Carcass Weight',
       'Milk Animals'], dtype=object)

In [ ]:
'Production','Producing Animals/Slaughtered'

In [5]:

fs_df = pd.read_csv('Data/FS/Food_Security_Data_E_All_Data/Food_Security_Data_E_All_Data.csv',encoding='latin-1')

/var/folders/r1/74s8bhy11bz94lsfxrg5752m0000gn/T/ipykernel_16470/817154024.py:1: DtypeWarning: Columns (16,22,40,46,52,58,70,82,88,94,97,100,103,109,115,118,121,124,127,130,133,136,139,143,145) have mixed types. Specify dtype option on import or set low_memory=False.
  fs_df = pd.read_csv('Data/FS/Food_Security_Data_E_All_Data/Food_Security_Data_E_All_Data.csv',encoding='latin-1')

In [35]:
fs_norm_df = pd.read_csv('Data/FS/Food_Security_Data_E_All_Data_(Normalized)/Food_Security_Data_E_All_Data_(Normalized).csv',encoding='latin-1')

def group_function(x):
    return pd.Series({'Max Year Code': np.max(x['Year Code'])})

group_features = ['Area Code', 'Item Code','Element Code']

grouped_df = fs_norm_df[group_features+['Year Code']].groupby(by = group_features).apply(group_function).reset_index()

fs_norm_df = fs_norm_df.merge(grouped_df, on = group_features, how= 'outer')
fs_norm_df_filtered = fs_norm_df[fs_norm_df['Year Code']==fs_norm_df['Max Year Code']]

excluded_items = [ 'severely food insecure female adults (million) (3-year average)',
 'severely food insecure female adults (million) (annual value)',
 'severely food insecure male adults (million) (3-year average)',
 'severely food insecure male adults (million) (annual value)',
 'severely food insecure people (million) (3-year average)',
 'severely food insecure people (million) (annual value)','Number of children under 5 years affected by wasting (million)',
 'Number of children under 5 years of age who are overweight (modeled estimates) (million)',
 'Number of children under 5 years of age who are stunted (modeled estimates) (million)',
  'Number of severely food insecure female adults (million) (3-year average)',
 'Number of severely food insecure female adults (million) (annual value)',
 'Number of severely food insecure male adults (million) (3-year average)',
 'Number of severely food insecure male adults (million) (annual value)',
 'Number of severely food insecure people (million) (3-year average)',
 'Number of severely food insecure people (million) (annual value)',
  'Number of moderately or severely food insecure female adults (million) (3-year average)',
 'Number of moderately or severely food insecure female adults (million) (annual value)',
 'Number of moderately or severely food insecure male adults (million) (3-year average)',
 'Number of moderately or severely food insecure male adults (million) (annual value)',
 'Number of moderately or severely food insecure people (million) (3-year average)',
 'Number of moderately or severely food insecure people (million) (annual value)',
 'Number of newborns with low birthweight (million)',
 'Number of people undernourished (million) (3-year average)',
 'Prevalence of moderate or severe food insecurity in the rural adult population (percent) (annual value)',
 'Prevalence of moderate or severe food insecurity in the total population (percent) (3-year average)',
 'Prevalence of moderate or severe food insecurity in the total population (percent) (annual value)',
 'Prevalence of moderate or severe food insecurity in the total population (percent) (3-year average)',
 'Prevalence of moderate or severe food insecurity in the total population (percent) (annual value)',
 'Prevalence of moderate or severe food insecurity in the town and semi-dense area adult population (percent) (annual value)',
 'Prevalence of moderate or severe food insecurity in the urban adult population (percent) (annual value)',
  'Prevalence of severe food insecurity in the rural adult population (percent) (annual value)',
 'Prevalence of severe food insecurity in the total population (percent) (3-year average)',
 'Prevalence of severe food insecurity in the total population (percent) (annual value)',
 'Number of women of reproductive age (15-49 years) affected by anemia (million)',
  'Prevalence of severe food insecurity in the total population (percent) (3-year average)',
 'Prevalence of severe food insecurity in the total population (percent) (annual value)',
 'Prevalence of severe food insecurity in the town and semi-dense area adult population (percent) (annual value)',
 'Prevalence of severe food insecurity in the urban adult population (percent) (annual value)',]
fs_norm_df_filtered = fs_norm_df_filtered[~fs_norm_df_filtered.Item.isin(excluded_items)]

In [36]:
columns_to_keep = ['Area', 'Item' , 'Unit', 'Value']
fs_norm_df_filtered = fs_norm_df_filtered[columns_to_keep]

fs_norm_df_filtered.loc[:,'Sentence'] = 'In ' + fs_norm_df_filtered.loc[:,'Area'] + ' the ' + fs_norm_df_filtered.loc[:,'Item'] + ' is ' + fs_norm_df_filtered.loc[:,'Value'].astype(str) + ' ' + fs_norm_df_filtered.loc[:,'Unit']

In [37]:
fs_norm_df_filtered.to_csv('fs_norm_filtered.csv')

In [9]:
hces_norm_df = pd.read_csv('Data/HCES/Household_Consumption_and_Expenditure_Surveys_Food_and_Diet_E_All_Data_(Normalized)/Household_Consumption_and_Expenditure_Surveys_Food_and_Diet_E_All_Data_(Normalized).csv',encoding='latin-1')

hces_norm_df.loc[:,'Area'] = hces_norm_df.Survey.apply(lambda x: x.split(' - ')[0])
hces_norm_df.loc[:,'Year Code'] = hces_norm_df.Survey.apply(lambda x: x.split(' - ')[-1])

hces_norm_df.Survey.unique(),hces_norm_df.shape
group_features = ['Area', 'Indicator Code']

grouped_df = hces_norm_df[group_features+['Year Code']].groupby(by = group_features).apply(group_function).reset_index()
grouped_df.to_csv('grouped_df')
hces_norm_df = hces_norm_df.merge(grouped_df, on = group_features, how= 'outer')
hces_norm_df_filtered = hces_norm_df[hces_norm_df['Year Code']==hces_norm_df['Max Year Code']]
hces_norm_df_filtered = hces_norm_df_filtered[hces_norm_df_filtered['Geographic Level']=='National']
hces_norm_df_filtered.to_csv('hces_norm_df_filtered.csv')

/var/folders/r1/74s8bhy11bz94lsfxrg5752m0000gn/T/ipykernel_16470/1913191083.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped_df = hces_norm_df[group_features+['Year Code']].groupby(by = group_features).apply(group_function).reset_index()

In [1]:
fs_df[fs_df.Area.isin(hces_df.Area.unique())].Area.unique()

NameError: name 'fs_df' is not defined